.header{
  display:grid;
  grid-template-columns:10% 87% 3%;
  padding:2%;
}
.top_img{
  max-width:100%;
  max-height:100%;
}
.top_text{
  font-size:5vw;
}
.main{
  display:flex;
  flex-flow:row wrap;
}
a{
  text-decoration:none;
  color:black;
}
hr {
  border:none;
	height: 5px;
	box-shadow: 0 20px 20px -20px #333 inset;
}
@media screen and (min-width: 600px){
  .menu_items{
    display:none;
  }
  .navbar{
    width:100%;
    display:flex;
    flex-direction:row;
    padding-top:2%;
    padding-bottom:2%;
    justify-content:space-around;
  }
  .main{
    display:flex;
  }
  
  .main_img{
    order:1;
    width:50%;
  }
  .weather_main{
    order:2;
    width:50%;
    height:50%;
  }
  .news_main_div{
    order:4;
    width:100%;
  }
  .more_news{
    order:5;
    width:100%;
  }
  .score{
    order:6;
    width:100%;
  }
}
@media screen and (max-width:600px){
  .navbar{
    display:none;
  }
  .menu_items{
    display:block;
    width:100%;
  }
  .weather_main{
    width:100%;
    padding-bottom: 5%;
  }
}
@media (min-width: 1200px) {
  .menu_items{
    display:none;
  }
  .navbar{
    width:100%;
    display:flex;
    flex-direction:row;
    padding-top:2%;
    padding-bottom:2%;
    justify-content:space-around;
  }
  .main{
    display:flex;
  }
  
  .main_img{
    order:1;
    width:100%;
  }
  .weather_main{
    order:5;
    width:100%;
  }
  .news_main_div{
    order:2;
    width:100%;
  }
  .more_news{
    order:3;
    width:100%;
  }
  .score{
    order:4;
    width:100%;
  }
}
.menu{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.main_img{
  position:relative;
}
.main_img img{
  max-width:100%;height:auto;
}
.main_img_description{
  position:absolute;
  bottom:0%;
  max-height:50%;
  font-size:2vw;
  overflow:auto;
  background-color:rgba(0,0,0,0.5);
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:gray;
  width:100%;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:gray;
}
.description_heading{
  font-size:100%;
  font-weight:bold;
  color:white;
}
.description{
  font-size:100%;
  color:white;
}
.news{
  display:flex;
  padding-top:2%;
  padding-bottom:1%;
  flex-direction:row;
  justify-content:space-between;
}
.more_news{
  width:100%;
  display:flex;
  flex-direction:column;
  padding:2%;
  justify-content:space-between;
}
ul{
  list-style:none;
}
ul li:before{
content:' >> ';
}
ul li{
  padding:1vw;
  border-bottom: 1px solid;
}
table{
  width:100%;
  text-align:center;
}
.score{
  border:0;
  border-spacing:0px;
  padding:1vw;
  width:100%;
}
.score tr{
  height: 3vw;
}
.score tr:nth-child(odd) {
  background-color: #dddddd;
}
#table_header{
  background-color:gray;
  color:white;
}
  .city{
    margin-bottom:0;
    padding-left: 2%;
    }
  .status{
    margin-top:0;
    padding-left: 2%;
  }
  .weather{
    width:100%;
    display:flex;
    flex-direction:row;
  }
  .weather img{
    width:20%;
  }
  .temperature{
    font-size:4vw;
  }
  .temperature_unit{
    font-size:2vw;
  }
  .latest-news{
    display:grid;
    grid-template-columns:15% auto;
    grid-gap:1%;
  }
  .latest-news img{
    width:100%;
    padding-bottom: 5%;    
  }
  .latest-news-text {
    grid-column-start: 2;
    text-align:justify;
  }
  .weather_forecast{
    clear:both;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    justify-items:stretch;
  }
  .weather_forecast_img{
    width:50%;
  }
  .weather_forecast div{
    text-align:center;
  }
  h3{
    margin:0;
    padding-bottom: 2%;
  }
  footer{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }
  .news_main_div{
    width:100%;
  }
  